
<%if notice%>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice%>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>





  <%end%>

<h1>Medicines</h1>

<div id="medicines">
  <% @medicines.each do |medicine| %>
    <%= render medicine %>
    <p>
      <%= link_to "Show this medicine", medicine %>
    </p>

  <br style="color:red; height: 5px;">
  <% end %>
  <% if user_signed_in? %> 
    <%= link_to "New medicine", new_medicine_path %>
  <%else%>
    <p>Only trusted users can add medicine</p>
  <%end%>
</div>